.movie-card {
    border: 1px solid #e2e8f0;
    border-radius: 12px;
    padding: 12px;
    background: rgb(255, 234, 248);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.04);
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.movie-title {
    font-size: 16px;
    margin: 0;
}

.movie-meta {
    font-size: 12px;
    color: #834ea2;
}

.movie-description {
    font-size: 14px;
    color: #7d0171;
    margin: 0;
}
